<!DOCTYPE html>
<html lang="en">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<body class="w-100 avenir black-70 bg-white">
<nav class="center w-100 mw7 mb5 flex justify-between items-end">
  <a href="/" class="dib ttu link dim black-70 fw6 pt3 pr3 pb3">ggalmazor.com</a>
  <span class="dib w-100"></span>
  <a href="https://twitter.com/ggalmazor" class="dib link dim black-70 pa3">@ggalmazor</a>
  <a href="/about" class="dib ttu link dim black-70 pt3 pb3 pl3">about</a>
</nav>
<section class="w-100 mw7 center">
  <h1 class="h1 mb4">About me</h1>
  <p>Here's a picture of me while someone's talking to me</p>
  <img src="https://dnsimple.com/assets/team/guille-29ff0c01f19f14d76558e5a4b74556419d4d67c540cf3b7f7da34259705b78c5.jpg" class="br4 w-100"/>
  <h2 class="h2 mb4">Some relevant things I've made in the past</h2>
  <p>I was one of the founders of <span class="link black-70 dim fw5">katayunos.com</span> (currently out of service), a free periodic gathering of software developers to hone testing skills.</p>
  <p>I collaborated on <a href="https://odi.org/en/publications/western-africas-missing-fish-the-impacts-of-illegal-unreported-and-unregulated-fishing-and-under-reporting-catches-by-foreign-fleets/" class="link dim black-70 fw5">a paper about illegal fishing on the west coast of Africa</a> in 2016 and co-wrote a follow-up paper about <a href="https://odi.org/en/publications/chinas-distant-water-fishing-fleet-scale-impact-and-governance/" class="link dim black-70 fw5">China's distant waters fishing fleet</a> in 2020.</p>
  <p>I once dressed up like a soprano and gave a software development talk with some friends.</p>
</section>
<footer class="mv5 w-100 mw7 center">
  <p class="f6">
    <span class="dib mr2">©2021 ggalmazor.com</span>
    <span class="dib mr2">/</span>
    <span class="dib">shamelessly inspired by <a href="https://javisantana.com" class="link dim black-70 fw5">javisantana.com</a></span>
  </p>
</footer>
</body>
</html>
