.hidden {
  display: none;
}

input {
  width: 65px;
}

tab-pane {
  display: block;
  padding-top: 20px;
}

value {
  cursor: pointer;
}

value span {
  display: inline-block;
  background-color: lavender;
  padding: 5px;
  border-radius: 10px;
}