<!DOCTYPE html>
<html lang="en">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<body class="w-100 avenir black-70 bg-white">
<nav class="center w-100 mw7 mb5 flex justify-between items-end">
  <a href="/" class="dib ttu link dim black-70 fw6 pt3 pr3 pb3">ggalmazor.com</a>
  <span class="dib w-100"></span>
  <a href="https://twitter.com/ggalmazor" class="dib link dim black-70 pa3">@ggalmazor</a>
  <a href="/about" class="dib ttu link dim black-70 pt3 pb3 pl3">about</a>
</nav>
<section class="w-100 mw7 center">
  <p>Hi! I'm Guillermo Gutierrez and I'm a software developer working at <a href="https://dnsimple.com/about" class="link dim black-70 fw5">DNSimple</a>.</p>
  <ul>
    <li>Drop me word at <span class="link dim black-70 fw5">guille@ggalmazor.com</span></li>
    <li>You can reach me on <a href="https://twitter.com/ggalmazor" class="link dim black-70 fw5">twitter</a> too</li>
    <li>I keep my professional career kinda up to date at
      <a href="https://www.linkedin.com/in/ggalmazor" class="link dim black-70 fw5">linkedin</a>
    </li>
  </ul>
  <p>If I ever write something, it will probably show up here...</p>
</section>
<footer class="mt5 w-100 mw7 center">
  <p class="f6">
    <span class="dib mr2">©2021 ggalmazor.com</span>
    <span class="dib mr2">/</span>
    <span class="dib">shamelessly inspired by <a href="https://javisantana.com" class="link dim black-70 fw5">javisantana.com</a></span>
  </p>
</footer>
</body>
</html>
