<footer class="w-100 mw7 center">
    <p class="f6">
        <span class="dib mr2">@2026 ggalmazor.com</span>
        <span class="dib mr2">/</span>
        <span class="dib">Inspired by <a href="https://javisantana.com"
                                         class="link dim dark-blue fw5">javisantana.com</a></span>
    </p>
</footer>