<nav class="center w-100 mw7 mb5-ns flex flex-column flex-row-ns justify-between items-end">
    <a href="{{ '/' | relative_url }}" class="home">⬅&nbsp;back</a>
    <span class="dib dn dib-ns w-100"></span>
    <a rel="me" href="https://www.linkedin.com/in/ggalmazor">LinkedIn</a>
    <a href="{{ '/about' | relative_url }}" class="about">about</a>
</nav>